@import "foundation/all";

.myt-movie-banner__container {
  background-size: contain;
  width: 60%;
  height: 600px;
  background-repeat: no-repeat;


  @include tablet {
    width: 100%;
    height: 400px;
    background-position: center;
  }

}